body{
    margin: 0;
    padding: 0;
    background-color: #428894;
}
nav{
    padding:0 2rem;
    box-shadow: 0 8px 6px -6px black;
    background-color: white;
}
.header{
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
}
.scoreBox,
.timeBox{
    border-radius: 100px;
    padding: 10px 15px;
    border: 1px solid #444;
    color: #444;
}
.mx-1{
margin: 5 6rem;
display: flex;
justify-content: space-between;
}
.my-1{
    margin: 1rem 0;
}
.d-flex{    
    display: flex;
}
.col{
    flex-direction: column;
}
.row{
    flex-direction: row;
}

.center{
    justify-content: center;
    align-content: center;
}

main{
    margin : 5px 2rem;
    padding :2rem;
    background-color: white;
    border-radius: 10px;
}
.btn{
    align-content: center;
    outline: none;
    border: none;
    font-size: 16px;
    border-radius: 5px;
    max-width: 100px;
    height: 30px;
}
.btn:hover{

    box-shadow: 0 8px 6px -6px black;
}
.primary{
    align-content: center;
    background-color: green;
    color: white;
}
.info{
    background-color: blue;
    color: white;
    border-radius: 10px;
    padding: 9px 15px;
    border: 1;
    outline: none;
    font-size: 15px;
    display: flex;
    justify-content: space-between;   
}
.qwe{
    margin: 1rem;
}
.card{
    margin : 1rem 0;
    width : 100%;
    border: solid 1px black;
    border-radius: 5px;
    padding :1rem;
}
.card>.title{
    font-size: 20px;
    font-weight: bold;
}
.title{
    font-size: 20px;
    font-weight: bold;
}
.pointer{
    cursor: pointer;
}
.resultBox{
    margin-bottom: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 15px;
    font-size: 20px;
}
.resultBox *:nth-child(odd){
    text-align: right;
}
.resultBox span{
    font-weight: 600;
}
.buttonBox{
    border-top: 1px solid #5555;
    text-align: center;
}
.buttonBox a{
    background-color: #1da3dd;
    border-radius: 50px;
    border: 0;
    text-decoration: none;
    color: #fff;
    outline: none;
    padding: 7px 15px;
    margin-top: 30px;
    display: inline-block;

}